<html>

<head>
    <script type="text/javascript" src="D2D.js"></script>
    <title>TestCanvas</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <style type="text/css">div{float:left;}</style>
</head>

<body id="main" style="margin:0;padding:0">
    <div class="view">
        <canvas id='myCanvas' width="800" height="600" style="border:1px solid #685c5c;" onmousedown="down(event)" onmousemove="move(event)"
            onmouseup="up(event)"></canvas>
    </div>
        <img id="logo" src="logo.png" style = "visibility:hidden" ></img>
    <div class="control">
        <button id="start">start</button>
    </div>
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
</body>
<script type="text/javascript" src="test.js"></script>

</html>